
    <div class="footer">
      <div class="contactFooter">
        <h2>Contact</h2>
        <p>
        <i class="fa fa-phone" aria-hidden="true"></i> +91 9552339276
        </p>
        <p><i class="fa fa-envelope-o" aria-hidden="true"></i>ranjeetsahu@gmail.com</p>
      </div>

      <div class="adressFooter">
        <h2>Address</h2>
        <p>
          M/S. Ganpati Foods, Shop no.1,
          <br/>
          Link road, Indralok Apartment ,<br />
          near gawde petrol pump, Chinchwad,
          <br />
          Pune Maharashtra- 411033.
        </p>
      </div>

      <div class="accountsFooter">
        <h2>Links</h2>
        <a href="https://www.facebook.com/profile.php?id=100054566961317&mibextid=ZbWKwL"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/ranjitsahu6436"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
      </div>
    </div>
 



