.customerForm{
    height: auto;
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    margin-top: 8%;
   }

.customerContainer{
    width: 500px;
    justify-content: space-between;
    background: #d48282;
    padding-left: 100px;
    margin-left: 27%;
    border-radius: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2{
    font-weight: bold;
    font-size:2rem;
    padding: 15px;
    margin-left: 35%;
}

.diveder{
    height: 1px;
    width: 100%;
    background: black;
    color: black;
    margin-bottom: 10px;
}
.imgfile{
    display: none;
}

.labelprof{
    margin-left: 26%;
    font-weight: 600;
    margin-bottom: 30px;
}

img{
    height: 170px;
    width: 170px;
    border-radius: 100%;
    margin-left: 20%;
}

#proficon{
    font-size: 1.5rem;
    background: rgb(236, 61, 61);
    color: white;
    border-radius: 100%;
    padding: 10px;
    margin: -15px 0 0 -65px;
}

span{
    color: red;
}

.customerContainer label{
    font-weight: 500;
}

.customerContainer input{
    height: 45px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}


 i{
    margin-left: -10%;
  }

#myprofile{
    border: none;
}

.customerContainer input:focus,
.customerContainer input:valid{
    border-color: purple;
}


input[type="submit"]{
    width: 70%;
    height: 50px;
    border: 1px solid;
    background: linear-gradient(90deg,#0162c8,#55e7fc);
    border-radius: 25px;
    font-size: 1rem;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  input[type="submit"]:hover{
    background: linear-gradient(90deg,#755bea,#ff72c0);
    transition: .5s;
  }

.signin_link{
    margin: 20px 40px 0 -10px;
    text-align: center;
    font-size: 1.2rem;
    color: #666666;
  }
  
  .signin_link a{
    color: #2691d9;
    text-decoration: none;
  }
  
  .signin_link a:hover{
    text-decoration: underline;
  }

  @media only screen and (max-width: 999px){

    .customerForm{
        text-align: center;
        width: 300px;
        height: 500px;
    
    }
    .customerContainer{
        display: block;
       
    }

}