.page{
    color: #fff;
    padding: 0 1rem;
    background: #f1f5f9;
}

.page_box{
    min-height: 50px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 2rem;
    padding: 30px;
    margin-top: 20px;
}

 .page_content{
    padding: 30px;
    position: absolute;
    min-height: calc(100vh - 178px);
    width: 92%;
    border-radius: 10px;
    margin-top: -2rem;
    background: #fae3e3;
    color: #222;
    font-size: 2rem;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);
}

.page_content .page_content_data{
    text-align: center;
    padding: 20px;
}

input{
    font-size: 1rem;
    width: 20%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 30px;
    background: rgb(225 , 225 , 225 , 0.2);
}

thead th{
    font-size: 1rem;
    font-weight: 500;
    color: white;
    background: rgb(247, 125, 125);
    
}

.table ,td{
    font-size: 1rem;
    font-weight: 400;
}
.table ,th ,td{
    table-layout: auto;
    border: 1px solid black;
}


.table .action{
    display: flex;
    padding: 5px;
}


.table .action .btndelete{
    font-size: 1.3rem;
    color: red;
    margin-right: 5px;
    padding: 5px;
}

.table .action .btnedit{
    font-size: 1.3rem;
    color: blue;
    padding: 5px;
}

img{
    width: 150px;
    height: 150px;
    transition: 0.3s ease-in-out;
}

img:hover{
    transition: 0.3s ease-in-out;
    transform: scale(3.1);
}

button{
    background: red;
    border: none;
    color: white;
    width: 40%;
    height: 30px;
    margin-left: 15%;
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 10px;
  }