
<div>
    <app-navbar *ngIf="!isLoggedIn"></app-navbar>
    <app-navbar-user *ngIf="isLoggedIn"></app-navbar-user>
</div>
<div class="container">
    <h1>Feedback</h1>
    <div class="middle">
        <div class="txt-field">
            <input type="text" [(ngModel)]="fname">
            <span></span>
            <label>Name</label>
        </div>
        
        <div class="txt-field">
            <input type="text" [(ngModel)]="femail">
            <span></span>
            <label>Email</label>
        </div>
       
        <div class="txt-field">
            <textarea placeholder="Description" [(ngModel)]="fdesc"></textarea>   
        </div>
        <button type="Submit" value="Submit"  (click)="addFeedback()">Submit</button>
    </div>
</div>
