
.page{
    color: #fff;
    padding: 0 1rem;
    background: #f1f5f9;
}

.page_box{
    min-height: 50px;
    background: #1e293b;
    margin: 0 -1rem;
    font-size: 2rem;
    padding: 30px;
    margin-top: 20px;
}

 .page_content{
    padding: 30px;
    position: absolute;
    min-height: calc(100vh - 178px);
    width: 92%;
    border-radius: 10px;
    margin-top: -2rem;
    background: #fae3e3;
    color: #222;
    font-size: 1rem;
    font-weight: 700;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .25);
}

.page_content h1{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.page_content .page_content_data{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.page_content_data .prof{
    display: flex;
    justify-content: left;
    width: 70%;
    
}

.page_content_data .prof img{
    height: 150px;
    width: 150px;
}

.page_content_data label{
    margin: 10px;
}

.page_content_data input{
    margin: 15px;
    font-size: 1rem;
    width: 70%;
    height: 2rem;
    border-radius: 5px;
}

.page_content_data select{
    margin: 15px;
    font-size: 1rem;
    border-radius: 5px;
    width: 70%;
    height: 2rem;
}

.page_content_data textarea{
    margin: 15px;
    font-size: 1rem;
    border-radius: 5px;
    width: 70%;
    height: 7rem;
}

.btnadd{
    width: 30%;
    height: 55px;
    border: 1px solid;
    background: linear-gradient(90deg,red,black);
    border-radius: 75px;
    font-size: 1.5rem;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    text-align: center;
    margin-left: 20%;
    margin-top: 30px;
  }

  .btnadd:hover{
    background: linear-gradient(90deg,#3a1c71,#d76d77,#ffaf7b);
    transition: .5s;
  }

 
  @media screen and (max-width: 850px){

    .page_content_data .prof{
        display: block;
    }
  }

  