<div class="container-fluid page">
    <div class="page_box ">Customer</div>
    <div class="page_content">
        <div class="page_content_data">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" >Sr.No.</th>
                        <th scope="col" >Customer Name</th>
                        <th scope="col" >Mobile no.</th>
                        <th scope="col" >Email</th>
                        <th scope="col" >Address</th>
                        <th scope="col" >Age</th>
                        <th scope="col" >Profile Picture</th>
                        <th scope="col" >Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let customer of customerList,let i=index">        
                        <th scope="row">{{i+1}}</th>
                        <td  >{{customer.cname}}</td>
                        <td  >{{customer.cmobile}}</td>
                        <td  >{{customer.cemail}}</td>
                        <td  >{{customer.caddress}}</td>
                        <td  >{{customer.cage}}</td>
                        <td  ><p (change)="onselectFile($event)"><img  src="{{customer.cprofile}}" /></td>
                        <td></td>
                        <td class="action">
                            <span (click)="deleteCustomer(customer)" class="btndelete"><i class="fa fa-trash" aria-hidden="true"></i></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button (click)="exportToExcel()">Export to Excel</button>
        </div>
    </div>
</div>
